if SHIELD_BRELETYL_LEFT

config ZMK_KEYBOARD_NAME
	default "BRELETYL"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_BRELETYL_LEFT || SHIELD_BRELETYL_RIGHT

config ZMK_SPLIT
	default y

endif